@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Comfortaa:wght@300&family=Inter:wght@400;700;800&family=Outfit:wght@400;700&family=Poppins:wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
background-color: hsl(36, 100%, 99%);
font-family: 'Inter', sans-serif;
font-size: 15px;
min-height: 100vh;
}

.header{
    grid-column: span 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 3rem;
    
}

.menu a{
    cursor: pointer;
    gap: 5rem;
}

.menu a:hover{
    color: hsl(5, 85%, 63%);
}

.container{
    width: 80%;
    max-width: 1440px;
    margin: 4em auto;
    display: grid;
    gap: 1.6rem;
    grid-template-columns: repeat(3,1fr);
    
}

.container .primary{
    grid-column: span 2;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
}

.container .primary img{
    grid-column: span 2;
    width: 100%;
    height: 300px;
}

.container .primary h1{
    font-weight: 800;
    font-size: 50px;
}

.container .primary .description{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.container .primary .description p{
    line-height: 1.5rem;
}

.container .primary .description button{
    background-color: hsl(240, 100%, 5%);
    color: hsl(36, 100%, 99%);
    height: auto;
    width: 50%;
    cursor: pointer;
    padding: 1rem 0rem;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
}

.container .primary .description button:hover{
    background-color: hsl(5, 85%, 63%);
}

.container .sidebar{
    grid-column: span 1;
    height: 80%;
}

.container .articles{
    grid-column: span 3;
    display: flex;
}

.cont-btn{
    display: none;
}
.sidebar{
    background-color: hsl(240, 100%, 5%);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem 1.5rem;
    min-height: 94%;
    height: 100%;
}

.sidebar a{
    color: hsl(36, 100%, 99%);
    cursor: pointer;
    font-size: 21px;
}

.sidebar a:hover{
    color: hsl(35, 77%, 62%);
}
.sidebar h2{
    color: hsl(35, 77%, 62%);
    font-size: 30px;
}

.sidebar p{
    color: hsl(233, 8%, 79%);
}

.sidebar .news{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-bottom: 2px solid hsl(233, 8%, 79%);
    font-size: 15px;
    padding: 2rem 0rem;
    justify-content: space-between;
    
}

.sidebar .news:nth-child(4){
    border-bottom: none;
    padding: 1rem 0;
}


.arti{
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-top: 2rem;
}

.arti .img-arti{
    display: flex;
    min-height: 100%;
    min-width: 30%;
    
}

.arti .img-arti img{
    min-height: 100%;
    min-width: 100%;
}

.arti .descnew{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    min-height: 100%;
}

.arti .descnew h2{
    color: hsl(233, 8%, 79%);
    font-size: 40px;
}

.arti .descnew a{
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
}

.arti .descnew a:hover{
    color: hsl(5, 85%, 63%);
}

.arti .descnew p{
    color: hsl(236, 13%, 42%);
}

@media screen and (max-width: 600px) {
    .container{
        display: flex;
        flex-direction: column;
    }

    .cont-btn{
        display: flex;
        width: 50px;
        height: 50px;
        align-items: center;
        justify-content: center;
    }
    .cont-btn .menu-btn{
        font-size: 50px;
        cursor: pointer;
    }

    .cont-btn .x-btn{
        display: none;
    }

    .menu{
        display: none;
    }

    .primary{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .primary h1{
        grid-column: span 2;
    }

    .primary .description{
        grid-column: span 2;
    }

    .arti .img-arti{
        min-height: 150px;
        min-width: 150px;
    }

    .arti .descnew{
        gap: 20px;
    }

    .arti .img-arti img{
        min-width: 100%;
        min-height: 90%;
    }
}